
:host {
    display: block;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-color);
}

.p-toolbar{
    padding: var(--spacing-sm) var(--spacing-md);
    background: transparent;
    align-items: center;
    justify-content: space-between;
}

.social-media-icons{
    display: flex;
    max-height: 50px;
    gap: var(--spacing-sm);
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.tool-bar-nav {
    font-family: var(--font-primary);
    font-weight: lighter;
}

.p-menubar {
    background: transparent;
    border: none;
    font-family: var(--font-secondary);
}

.menu-items{
    font-size: 1.1rem;
    font-family: var(--font-secondary);
    border: none;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

.logo{
    height: 70px;
    width: 100%;
    object-fit: contain;
}