<app-header></app-header>

<div class="home-banner">
    <img src="pexels-cottonbro-4542861.jpg" alt="Home Banner" class="home-banner-image">
    <div class="home-banner-overlay">
        <span class="home-banner-text">Discover Your Celestial Style</span>
        <span class="home-banner-subtext mt-5">Timeless, Elegant, Unique and Modest Fashion for Men, Women, and Kids</span>
        <div class="home-banner-buttons mt-4">
            <p-button class="home-banner-button" label="Explore Collections" [raised]="true" [rounded]="true"></p-button>
        </div>
    </div>
</div>

<div class="grid justify-content-center">
    <div class="col-12 md:col-6 lg:col-4">
        <div class="card">
            <img src="ernest_unsplash.jpg" alt="For_Him">
            <div class="card-title">
                <h1>FOR HIM</h1>
            </div>
            <div class="card-description">
                <p>Best Selling Deals 🔥</p>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="card">
            <img src="feey_unsplash.jpg" alt="For_Her">
            <div class="card-title">
                <h1>New Arrivals</h1>
            </div>
            <div class="card-description">
                <p>Discover the latest additions to our collection, <br> fresh styles and timeless classics.</p>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="card">
            <img src="mahdi-chaghari-unsplash.jpg" alt="For_Her">
            <div class="card-title">
                <h1>FOR HER</h1>
            </div>
            <div class="card-description">
                <p>Discover the latest additions to our collection, featuring fresh styles and timeless classics.</p>
            </div>
        </div>
    </div>
</div>